.Carousel_Wear {
  width: 289px;

  align-items: center;
  // margin-top: 1rem;
  justify-content: space-evenly;
  // height: 286px;
  // width: 334px;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
  // margin-left: auto;
  // margin-right: auto;
  // transition: all 0.3s ease-in-out;

  .Carousel_Items {
    margin: 0 7px;
    display: grid;

    min-width: 100%;
    height: 334px;
    justify-content: center;
    background: #fff;
    transition: all 0.3s ease-in;
    z-index: 99;
    border-radius: 5px;

    &:hover {
      box-shadow: 0px 0px 30px #00000025;
      transition: all 0.3s ease-in-out;
    }
    img {
      transition: all 0.3s ease-in;
      height: 272.25px !important;
      width: 289px;
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      object-position: top center !important;
    }
  }

  @media screen and (max-width: 890px) {
    width: 254.29px;
    .Carousel_Items {
      img {
        width: 254.29px;
      }
    }
  }
  @media screen and (max-width: 479px) {
    width: 208px;
    .Carousel_Items {
      img {
        width: 208px;
      }
    }
  }
}

.NavigationContainer {
  margin-top: 1rem;
  display: flex;
  // justify-content: space-between;
  a:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0059ff;
  }
}
.Carousel_SliderButtonBox {
  display: flex;
  gap: 1rem;

  margin-left: auto;
  .Carousel_SliderButtons {
    background: none;

    border-radius: 50% !important;

    border: none;

    .Carousel_iconBtn {
      width: 40px;
      height: 40px;
      border: 1px solid rgb(0, 0, 0) !important;
      color: rgb(0, 0, 0) !important;
      &:hover {
        background-color: #6c6c6c;
        color: #fff !important;
        border: #6c6c6c !important;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .Carousel_Wear {
    width: 248px !important;
    height: 286px !important;
    .Carousel_Items {
      width: 248px;
      height: 304px;

      img {
        transition: all 0.3s ease-in;
        height: 252.25px !important;
        width: 248px;
        border-radius: 5px 5px 0 0;

        object-fit: cover;
        object-position: top center !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Carousel_Wear {
    width: 188px !important;
    height: 261px !important;
    .Carousel_Items {
      width: 188px;
      height: 235px;
      img {
        transition: all 0.3s ease-in;
        height: 195px !important;
        width: 188px;
        border-radius: 5px 5px 0 0;

        object-fit: cover;
        object-position: top center !important;
      }
    }
  }
}
