.container{
    transition: transform 0.3s ease-in-out;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.sortsection{
  width: 100%; 
  padding: 16px 18px;
  >div:first-child{
    position: relative;
    >h4{
      font-family: DM Serif Display;
      font-size: 20px;
      font-weight: bold;
      color: black;
      text-align: center;
      line-height: 28px;
    }
    >img{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.filter{
    width: 100%;
    font-family: DM Sans !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #6C6C6C !important;
    text-transform: unset !important;
    border-radius: unset !important;
    border-right: 1px solid #cecece !important ;
    border-top: 1px solid #cecece !important  ;
  }
  .radioLabel{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #0A0A0A;
  }
  .divider{
    width: 95%;
    position: relative;
    right: -32px;
    flex: unset;
    background-color: #CECECE;    
    margin: 5px 0;
  }
  