.heading {
  font-family: 'DM Serif Display';
  font-size: 54px;
  line-height: 64px;
  display: flex;
  justify-content: center;
}
.subHeading {
  font-family: 'DM Sans';
  font-size: 18px;
  line-height: 174%;
  text-align: center;
  margin-top: 17px;
  color: #3b3b3b;
}
.headingMobile {
  font-family: 'DM Serif Display';
  font-size: 25px;
  line-height: 64px;
  display: flex;
  justify-content: center;
}
.subHeadingMobile {
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 174%;
  text-align: center;
  color: #3b3b3b;
}
.cardGroup {
  padding-right: 5%;
  margin-top: 140px;
  display: flex;
  background-color: rgba(133, 114, 80, 0.25);
}
.compo {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 110px;
  background-color: #e7e6e2;
  padding-top: 88px;
  padding-bottom: 62px;
}
.compotab {
  background-color: #e7e6e2;
  margin-top: 100px;
  padding: 20px 24px 20px 24px;
}
.compomobile {
  background-color: #e7e6e2;
  padding-bottom: 20px;
  margin-top: 60px;
  padding-left: 16px;
  padding-right: 16px;
}
.cardGroupTab {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  background-color: rgba(133, 114, 80, 0.25);
}
