.heading{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 63px;
    display: flex;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.subHeading{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 174%;
    color: #3B3B3B;
    margin-top: 15px;
}
.text{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 174%;
    margin-left: 25px;
}
.headingMobile{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    display: flex;
}
.subHeadingMobile{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 174%;
    color: #3B3B3B;
    margin-top: 15px;
}
.textMobile{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 174%;
    margin-left: 25px;
}