.card {
  height: 385px;
  width: 191px;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s linear;
}

@media screen and (max-width: 1300px) {
  .card {
    min-height: 385px;
    min-width: 191px;
    border-radius: 10px;
    position: relative;
    transition: all 0.2s linear;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.CardOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: flex-end;
  bottom: 0%;
  transition: all 0.2s linear;

  z-index: 0;
  .title {
    transition: all 0.2s linear;
    color: #fff;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;

    margin-bottom: 0.3em;
  }
  .p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    transition: all 0.2s linear;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    opacity: 0;
    position: absolute;
    transition: all 0.2s linear;

    a {
      color: inherit;
      text-decoration: underline;
      text-transform: capitalize;
      transition: all 0.2s linear;
    }
  }
}

.CardOverlay:hover {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
  background: linear-gradient(
    180deg,
    rgba(57, 45, 22, 0.74) 34.32%,
    rgba(57, 45, 22, 0.74) 73.64%
  );
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  justify-content: flex-end;
  // Animation
  transition: linear 0.2s linear;
  animation: bg 0.2s linear;
  // Animation
  .title {
    color: #fff;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0.3em;
  }
  .p {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    animation: overlay 0.2s linear;
    color: #fff;
    opacity: 1;
    position: relative;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(57, 45, 22, 0.74) 34.32%,
      rgba(57, 45, 22, 0.74) 73.64%
    );
  }
  100% {
    background: linear-gradient(
      180deg,
      rgba(57, 45, 22, 0.74) 34.32%,
      rgba(57, 45, 22, 0.74) 73.64%
    );
  }
}
