.header {
  // height: 469px;
  width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 54px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: -1.5px;
    // overflow-wrap: anywhere;
  p {
    color: #fff;
    > span:first-child {
      font-style: italic!important;
      font-family: DM Serif Display !important;
    }
    > span:last-child {
      font-family: DM Sans  !important;

    }
  }
}

@media screen and (max-width: 835px) {
  .header {
    font-size: 44px;
    line-height: 51px;
    height: 366px;
    width: 225px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 550px) {
  .header {
    height: auto;
    width: 100%;
    font-size: 20px;
    line-height: 23px;
    gap: 1rem;
    margin-bottom: 30px;
    p{
      width: 100%;
      text-align: center  ;

    }
  }
}
