.main-mobile_category {
  display: none;
  // background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/img/mask-group-18@1x.png);
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 34, 230, 0.52),
  //     rgba(194, 0, 145, 0.73)
  //   ),
  //   url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/img/mask-group-18@1x.png);
  transition: height 0.3s ease-in;
  // background-position:  center;
  // background-repeat: no-repeat;
  width: 420px;
  @media screen and(max-width:420px) {
    display: block;
    width: 100%;
  }
  .MuiPaper-root {
    background: none !important;
    color: white !important;
  }

  .MuiIconButton-root {
    color: white !important;
  }
  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }
  .MuiAccordionDetails-root {
    display: flex !important;
  }
}

.cat_accordion {
  position: absolute;
  bottom: -80px;
}

.accordionHeader {
  font-family: DM Serif Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}
.category-mobile_button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(10, 10, 10, 0.2);
  backdrop-filter: blur(10px);
}
.accordion_details {
  overflow-y: scroll;

  height: 200px !important;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
  width: 420px;

  a {
    display: inline-block;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0.5rem 0;
    color: #cecece;
  }
  .accordion-detail {
    width: 100%;
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #9d9d9d;
    svg {
      font-size: 15px;
    }
  }
  .accordion-detail:last-child {
    border: none;
  }
}
