.container {
  position: relative;
  width: 100%;
  display: flex;
  padding: 3rem 0;

  .firstSection {
    width: 100%;
    border-right: 1px solid rgb(236, 236, 236);
  }
  .firstSection :first-child{
    border-right: none;
  }
.FilterBreadDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}
  .secondSection {
    width: 80%;
    // margin-top: -5em;
  }
}
.LoadMoreBtnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -5em;
  margin-bottom: 5em;

  .LoadMoreBtnDiv{
    width: 80%;
    justify-content: center;
    display: flex;
    .LoadMoreBtn{
      background: #6A5B40;
      color: #fff;
      padding: 1em 2em;
    }
    
  }
  
 
}

.upperbread{
  width: 150%;
  margin-left: -2em;
  // margin-right: auto;
  padding-left: 2em;
  // padding-top: 0.5em;
  padding-bottom:1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6A5B40;
}
@media only screen and (min-width: 550px) and (max-width:835px) {

  .upperbread{
    width: 150%;
    margin-left: -2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom:0em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6A5B40;
  }


}
  @media screen and (max-width: 835px) {
  .container {
    padding-top: 0;
    .secondSection {
      width: 100%;
    }
  }
  .LoadMoreBtnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -7em;
    margin-bottom: 5em;
    .LoadMoreBtnDiv{
      width: 100%;
      justify-content: center;
      display: flex;
      .LoadMoreBtn{
        background: #6A5B40;
        color: #fff;
        padding: 1em 2em;
      }
      
    }
    
   
  }
  
}
