.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 22% 78%;
  padding: 3rem 0;

  @media screen and (max-width: 840px) {
    grid-template-columns: 1fr;
  }
  // .firstSection {
  //   width: 100%;
  //   border-right: 1px solid rgb(236, 236, 236);
  // }
  // .firstSection :first-child {
  //   border-right: none;
  // }
  // .FilterBreadDiv {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   width: 20%;
  // }
  // .secondSection {
  //   width: 80%;
  //   // margin-top: -5em;
  // }
}
.LoadMoreBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -5em;
  margin-bottom: 5em;

  .LoadMoreBtnDiv {
    width: 80%;
    justify-content: center;
    display: flex;
    .LoadMoreBtn {
      background: #6a5b40;
      color: #fff;
      padding: 1em 2em;
    }
  }
}

.upperbread {
  width: 150%;
  margin-left: -2em;
  // margin-right: auto;
  padding-left: 2em;
  // padding-top: 0.5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6a5b40;
}
@media only screen and (min-width: 550px) and (max-width: 835px) {
  .upperbread {
    width: 150%;
    margin-left: -2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 0em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6a5b40;
  }
}
@media screen and (max-width: 835px) {
  .container {
    padding: 0 0;

    .secondSection {
      width: 100%;
    }
  }
  .LoadMoreBtnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -7em;
    margin-bottom: 5em;
    .LoadMoreBtnDiv {
      width: 100%;
      justify-content: center;
      display: flex;
      .LoadMoreBtn {
        background: #6a5b40;
        color: #fff;
        padding: 1em 2em;
      }
    }
  }
}

//desginer product section
.banner {
  width: 100%;
  background-image: url('./bg.svg');
  min-height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  &__body {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 4rem;
    gap: 3rem;

    &__frame {
      border: 10px solid #9d8e73;
      border-radius: 28px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 300px;
      width: 315px;
      height: 298px;
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
      gap: 2rem;

      &__name {
        font-weight: normal;
        font-size: 61px;
        line-height: 150%;
        letter-spacing: 0.006em;
        color: #ffffff;
      }

      &__description {
        font-weight: normal;
        font-size: 18px;
        line-height: 183.5%;
        color: #ffffff;
      }
    }
  }
}
