// .hide {
//   transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

//   transform: translateY(100%);
// }
// .show {
//   transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
//   transform: translateY(-100%);
// }

.NavContainer {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 20px #0000002f;
  background-color: white;
  max-width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  z-index: 99;
}
.btnContainer {
  position: relative;
}

.btnContainer {
}

.active {
  svg {
    color: #857250;
  }
}

.svgStyle {
  background-color: #857250;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  border-radius: 50%;
  height: 35px;

  svg {
    width: 22px !important;
    height: 22px;
  }
}
.svg {
  svg {
    width: 20px !important;
    height: 20px;
  }
}
.dot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #857250;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

.background {
  background-color: #6a5b40;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
