.container {
  // display: grid;
  border-radius: 5px;
  height: 320px;
  width: 305px;
  .imgContainer {
    position: relative;
    display: grid;
    place-items: center;

    img {
      border-radius: 5px 5px 0 0;
      height: 250px;
      object-fit: cover;
      object-position: top;
    }
    span {
      position: absolute;
      font-family: DM Serif Display;
      font-size: 30px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: #fff;
    }
  }
}

// .icons {
//   border: 1px solid #000 !important;
// }

.clothTypes {
  padding: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.3199999928474426px;
}

@media screen and (max-width: 1350px) {

  .container{
    width: 45%;
    max-width: 250px;
  
  .imgContainer {

    img {
      height: 280px !important;
    }
  }
}

}
  @media screen and (max-width: 835px) {
  .container{
    width: 370px!important;
  
  .imgContainer {

    img {
      // height: 280px !important;
      width: 100%;
    }
  }
}
}

@media screen and (max-width: 550px) {
  .container{
    width: 290px!important;
  .imgContainer {
    > span {
      font-size: 20px !important;
    }
    img {
      // height: 210px !important;
      width: 100%;
    }
  }
}
  .clothTypes {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3199999928474426px;
    padding: 0.5rem;
  }
}



@media screen and (max-width: 1150px) {

  .container{
    width: 40%;
    max-width: 230px;
    height: 270px;
  .imgContainer {

    img {
      height: 230px !important;
    }
  }
}
}
@media screen and (max-width: 1050px) {

  .container{
    width: 40%;
    max-width: 245px;
    height: 270px;
  .imgContainer {

    img {
      height: 230px !important;
    }
  }
}
}