.newAddressContainer{
    width:70%;
    margin-top: 3em;
    margin-bottom: 10em;

    .h1dividerdiv{
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        h1{
        font-family: DM Serif Display;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #857250;
        margin-right: 0.5em;
        }

    }

    .formDiv{
        // width: 100%;
        display: flex;
        margin-top: 1em;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        input{
            width: 100%!important;
        }
    }

}
.addTypeDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    p{
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color:#0a0a0a;
        width: 100%;
    }
    h3{
      //styleName: Body / Large;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
      
    }
    .add1{
        display: flex;
        align-items: center;
        
    }
    .add2{
        display: flex;
        align-items: center;
    }
}

.DeliverBTN{
    height: 56px!important;
    width: 100%!important;
    border-radius: 5px!important;
    padding: 12px, 16px, 12px, 16px!important;
    background-color: #6A5B40!important;
    color: #fff!important;
    margin-top: 1em!important;
}


.UseLocationBtnDiv{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    .useCurrentLocationBtn{
        text-transform: none !important;
        font-family: DM Sans !important;
        box-shadow: none !important;
        border-radius: 5px !important;
        border: none !important;
        outline: none !important;
        font-size: 16px!important;



        height: 56px !important;
        width: 330px !important;
        background-color: var(--primary-color-dark) !important;
        color: #fff !important;
    }
}













@media screen and (max-width:1200px) {
.newAddressContainer{

width: 90%;
margin-left: auto;
margin-right: auto;

}
    
}

@media screen and (max-width:955px) {
    .newAddressContainer{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    }
        
    }

