.footer_group-707 {
    align-items: flex-start;
    display: flex;
    margin-left: 1px;
    min-width: 1222px;
}
.footer_group-708.footer_group-707 {
    height: 63px;
    margin-left: unset;
    position: relative;
}
.footer_line-100 {
    height: 12px;
    left: 1089px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-78 {
    height: 12px;
    left: 73px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-79 {
    height: 12px;
    left: 170px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-80 {
    height: 12px;
    left: 235px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-81 {
    height: 12px;
    left: 378px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-82 {
    height: 12px;
    left: 556px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-83 {
    height: 12px;
    left: 665px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-84 {
    height: 12px;
    left: 751px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-85 {
    height: 12px;
    left: 811px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-86 {
    height: 12px;
    left: 886px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-87 {
    height: 12px;
    left: 973px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-88 {
    height: 12px;
    left: 1065px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-89 {
    height: 12px;
    left: 1152px;
    position: absolute;
    top: 9px;
    width: 1px;
}
.footer_line-90 {
    height: 12px;
    left: 48px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-91 {
    height: 12px;
    left: 157px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-92 {
    height: 12px;
    left: 243px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-93 {
    height: 12px;
    left: 311px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-94 {
    height: 12px;
    left: 410px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-95 {
    height: 12px;
    left: 542px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-96 {
    height: 12px;
    left: 629px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-97 {
    height: 12px;
    left: 741px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-98 {
    height: 12px;
    left: 843px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_line-99 {
    height: 12px;
    left: 916px;
    position: absolute;
    top: 39px;
    width: 1px;
}
.footer_overlap-group1 {
    position: relative;
    width: 100%;
}
.footer_text-8 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #3B3B3B;
}
.footer_bc5e11ad-0250-4-1-applestore-1 {
    height: 66px;
    margin-left: 24px;
    mix-blend-mode: normal;
    object-fit: cover;
    width: 194px;
}
.footer_buying-guide {
    letter-spacing: 0;
    line-height: 28px;
    min-height: 28px;
    mix-blend-mode: normal;
    white-space: nowrap;
}
.footer_connect-with-us {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.footer_facebook-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 16px;
    mix-blend-mode: normal;
    width: 25px;
}
.footer_flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    min-height: 95px;
    width: 128px;
}
.footer_flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 277px;
    width: 253px;
    /*margin: auto;*/
}
.footer_flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 254px;
    width: 188px;
}
.footerMenuRow{
    width: 100%!important;
}
.footer_flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 254px;
    width: 119px;
}
.footer_flex-col-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    min-height: 120px;
    width: 794px;
}
.footer_flex-row {
    align-items: center;
    display: flex;
    height: 28px;
    margin-left: 6.0px;
    margin-top: 60px;
    width: 100%;
}
.footer_flex-row-1 {
    align-items: flex-end;
    display: flex;
    /*height: 277px;*/
    width: 100%;
    margin-top: 43px;
}
.footer_flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 120px;
    margin-left: 1px;
    margin-top: 46px;
    width:100%;
}
.footer_flex-row-3 {
    align-items: center;
    display: flex;
    margin-top: 26px;
    min-width: 794px;
}
.footer_group {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/releases/60a902eba2473b1db35c5d08/img/vector-25@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 25px;
    justify-content: flex-end;
    margin-top: 0;
    min-width: 25px;
    padding: 5.0px 5.0px;
}
.footer_group-1 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/releases/60a902eba2473b1db35c5d08/img/vector-5@2x.png);
    background-size: 100% 100%;
    height: 24px;
    margin-top: 0;
    width: 24px;
}
.footer_group-2 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/releases/60a902eba2473b1db35c5d08/img/vector-12@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 47px;
    left: 0;
    min-width: 50px;
    padding: 6.2px 14.7px;
    position: absolute;
    top: 0;
}
.footer_group-3 {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/releases/60a902eba2473b1db35c5d08/img/vector-8@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 25px;
    min-width: 25px;
    padding: 3.5px 8.2px;
}
.footer_group-700 {
    align-items: flex-start;
    display: flex;
    height: 95px;
    left: 186px;
    min-width: 162px;
    /*position: absolute;*/
    top: 148px;
}
.footer_group-701 {
    align-items: flex-start;
    display: flex;
    margin-right: 2.0px;
    margin-top: 6px;
    min-width: 105px;
}
.footer_group-702 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 66px;
    width: 147px;
}
.footer_group-703 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 186px;
    min-height: 135px;
    /*position: absolute;*/
    top: 0;
    width: 190px;
}
.footer_group-704 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    margin-top: 16px;
    min-height: 74px;
    width: 252px;
}
.footer_group-705 {
    align-items: flex-start;
    display: flex;
    margin-left: 51px;
    margin-top: 0.99px;
    min-width: 52px;
}
.footer_group-706 {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    min-height: 443px;
    width: 100%;
}
.footer_group-709 {
    flex-direction: column;
    margin-top: 26px;
    width: 100%;
}
.footer_group-710 {
    align-items: flex-start;
    display: flex;
    height: 862px;
    width: 100%;
}
.footer_heading {
    height: 18px;
    letter-spacing: 0.16px;
    line-height: 18px;
    min-height: 18px;
    mix-blend-mode: normal;
    white-space: nowrap;
}
.footer_input {
    letter-spacing: 0.16px;
    line-height: 18px;
    min-height: 18px;
    mix-blend-mode: normal;
    white-space: nowrap;
}
.footer_instagram-1 {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/releases/60a902eba2473b1db35c5d08/img/vector-21@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 25px;
    mix-blend-mode: normal;
    padding: 3.0px 3.0px;
    width: 25px;
}
.footer_line-77 {
    height: 1px;
    margin-left: 18px;
    margin-top: 6.0px;
    width: 100%;
}
.footer_line-78-1 {
    align-self: flex-start;
    height: 1px;
    margin-top: 41px;
    width: 100%;
}
.footer_linkedin-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 14px;
    mix-blend-mode: normal;
    width: 25px;
}
.footer_original {
    /*color: var(--black);*/
    /*font-family: var(--font-family-dm_sans);*/
    font-size:10px;
    left: 1px;
    letter-spacing: 0;
    line-height: 22px;
    mix-blend-mode: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 43px;
}
.footer_overlap-group {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60a8e4bb63b3840740d1ac98/releases/60a902eba2473b1db35c5d08/img/rectangle-105@1x.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    min-height: 862px;
    padding: 20px 102px;
    width: 100%;
}
.footer_overlap-group1-1 {
    height: 254px;
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 376px;
}
.footer_overlap-group2 {
    align-items: flex-start;
    /*background-color: var(--white);*/
    border-radius: 5px;
    display: flex;
    height: 48px;
    margin-top: 8px;
    min-width: 248px;
    padding: 14px 17px;
}
.footer_overlap-group3 {
    height: 47px;
    position: relative;
    width: 50px;
}
.footer_overlap-group4 {
    height: 254px;
    margin-left: 66px;
    position: relative;
    width: 376px;
}
.footer_phone-call-1-1 {
    align-items: flex-start;
    display: flex;
    margin-top: 3px;
    mix-blend-mode: normal;
    overflow: hidden;
    width: 24px;
}
.footer_policies {
    letter-spacing: 0;
    line-height: 28px;
    min-height: 28px;
    mix-blend-mode: normal;
    white-space: nowrap;
}
.footer_popular-searches {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #0A0A0A;
}
.footer_shopping {
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
.footer_span0 {
    /*color: var(--black);*/
    letter-spacing: 0;
    line-height: 22px;
}
.footer_span1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #3B3B3B;
}

.footer_subtext {
    height: 16px;
    letter-spacing: 0;
    line-height: 16px;
    min-height: 16px;
    mix-blend-mode: normal;
    white-space: nowrap;
}
.footer_talk-to-us {
    letter-spacing: 0;
    line-height: 28px;
    min-height: 35px;
    mix-blend-mode: normal;
    width: 128px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.footer_text-1 {
    letter-spacing: 0;
    line-height: 29px;
    margin-top: 13px;
    min-height: 213px;
    mix-blend-mode: normal;
    width: 119px;
}
.footer_text-10 {
    letter-spacing: 0;
    line-height: 30px;
    margin-left: 1.0px;
    margin-top: 22px;
    min-height: 30px;
    min-width: 100%;
    mix-blend-mode: normal;
    white-space: nowrap;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3B3B3B;

}
.footer_text-2 {
    letter-spacing: 0;
    line-height: 29px;
    margin-top: 13px;
    min-height: 213px;
    mix-blend-mode: normal;
    width: 188px;
}
.footer_text-3 {
    left: 0;
    letter-spacing: 0;
    line-height: 29px;
    mix-blend-mode: normal;
    position: absolute;
    top: 41px;
    width: 188px;
}
.footer_text-4 {
    letter-spacing: 0;
    line-height: 29px;
    margin-top: 13px;
    min-height: 94px;
    mix-blend-mode: normal;
    width: 188px;
}
.footer_text-5 {
    letter-spacing: 0;
    margin-top: 2px;
    min-height: 58px;
    mix-blend-mode: normal;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    /* or 181% */


    /* Neutral / Gray 800 */

    color: #3B3B3B;
}
.footer_text-6 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}
.footer_text-7 {
    /*color: transparent;*/
    /*font-family: var(--font-family-dm_sans);*/
    /*font-size: var(--font-size-m);*/
    font-weight: 700;
    line-height: 16px;
    margin-left: 6px;
    margin-top: 5.0px;
    min-height: 39px;
    min-width: 248px;
}

.footer_text-7 .span0{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.footer_title {
    font-family:' DM Serif Display';
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 64px;
    color: #6A5B40;
}
.footer_useful-links,.footer_buying-guide,.footer_policies {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #0A0A0A;
}
.footer_flex-row-1 a,footer_talk-to-us ,footer_text-5 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #3B3B3B;
}
.footer_vector {
    height: 14px;
    mix-blend-mode: normal;
    width: 14px;
}
.footer_vector-1 {
    align-self: flex-end;
    height: 2px;
    margin-bottom: 0;
    mix-blend-mode: normal;
    width: 2px;
}
.footer_vector-2 {
    height: 19px;
    mix-blend-mode: normal;
    width: 19px;
}
.footer_vector-3 {
    height: 2px;
    margin-left: 15px;
    mix-blend-mode: normal;
    width: 2px;
}
.footer_vector-4 {
    height: 17px;
    mix-blend-mode: normal;
    width: 8px;
}
.footer_web-button {
    align-items: flex-start;
    /*background-color: var(--tobacco-brown);*/
    /*border: 1px solid var(--white);*/
    border-radius: 5px;
    display: flex;
    height: 48px;
    margin-top: 23px;
    min-width: 173px;
    padding: 15px 63px;
}
.footer_write-email-with-us {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #0A0A0A;
}
.footer_x80cc455a-92d2-4-4-googleplay-1 {
    height: 66px;
    mix-blend-mode: normal;
    object-fit: cover;
    width: 219px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700,500|Quicksand:700|DM+Serif+Display:400|Inter:700");
* {
    box-sizing: border-box;
}
.footer_valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
