.heading{
    font-family:DM Serif Display;
    font-size:54px;
    line-height:64px;
}
.subHeading{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    line-height: 164.8%;
}
.percent{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 34px;
    text-align: center;
}
.subtext{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 164.8%;
    color: #3B3B3B;
    text-align: center;
}
.headingMobile{
    font-family:DM Serif Display;
    font-size:25px;
    line-height:120%;
    text-align: center;
}
.subHeadingMobile{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    line-height: 164.8%;
    text-align: center;
}
.percentBox{
    display:flex;
    margin-top:33px;
    margin-left:50px;
    margin-right:60px;
}
.percentBoxMobile{
    display: unset;
}
.percentMobile{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 3px;
    text-align: center;
}
