.container {
    height: 364.43px;
    width: 273px;
  left: 501px;
  top: 151.07861328125px;


  .imgContainer {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .icons {
    position: absolute;
    right: 0;
  }
}

.productDetails {
  display: grid;
  gap: 5px;
  .productName {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  .productDesc {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.3199999928474426px;
    color: #3b3b3b;
  }
  .productPrice {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1599999964237213px;
    span:last-child {
      color: grey;
    }
  }
}

@media screen and (max-width: 550px) {
  .imgContainer {
    > img {
      height: 210px !important;
    }
  }
  .container {
    height: 224.5px;
    width: 138px;
  left: 501px;
  top: 151.07861328125px;
  border-radius: 0px;
  margin-bottom: 6em;
  margin-left: 0em;

}
}

@media screen and (max-width:950px) {
  .imgContainer {
    > img {
      height: 210px !important;
    }
  }
  .container {
    height:311.19px;
    width: 233.98px;
  left: 501px;
  top: 151.07861328125px;
  margin-left: auto;
  margin-right: auto;
}
}
@media screen and (max-width:858px) {
  .container {
    height:280px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

}

@media only  screen and (max-width:660px) {
  .container {
    height:280px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}

}


@media screen and  (max-width: 500px) {
  .imgContainer {
    > img {
      height: 210px !important;
    }
  }
  .container {
    height: 224.5px;
    width: 100%!important;
  left: 501px;
  top: 151.07861328125px;
  border-radius: 0px;
  margin-bottom: 6em;
  margin-left: 0em;

}
}
