.CreateNewPassword {
  padding: 45px 35px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: #ffffff;
}

.CreateNewPassword_Title {
  display: grid;
  h1 {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 48px;
    color: #0a0a0a;
  }
  p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6c6c6c;
  }
}

.CreateNewPassword_Input {
  display: grid;
  gap: 0.6rem;
  label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    color: #0a0a0a;
  }
  input {
    border: 1px solid #999;
    outline-color: #857250;
    outline-width: 1px;
    padding: 0.6rem;
    border-radius: 4px;
  }
}

.CreateNewPassword_Button {
  display: grid;
  margin-top: 10px;
  .Create_Button {
    background: #857250;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-transform: none;
    padding: 0.7rem;
    &:hover {
      background: #857250;
    }
  }
}

.GoBack_Button{
  background: #ffffff!important;
  font-family: DM Sans!important;
  font-style: normal!important;
  font-weight: bold!important;
  font-size: 16px!important;
  line-height: 20px!important;
  display: flex!important;
  align-items: center!important;
  text-align: center!important;
  color: #857250!important;
  border: 2px solid #857250!important;
  text-transform: none!important;
  margin-top: 0.5rem!important;
  padding: 0.6rem!important;
  position: relative!important;
  &:hover {
    background: #ebebeb!important;
  }
}