.ForgotPasswordOtp {
  padding: 45px 35px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: #ffffff;
}
.ForgotPasswordOtp_Title {
  display: grid;
  h1 {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 48px;
    color: #0a0a0a;
  }
  p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6c6c6c;
    a {
      color: #1a5fc7;
      margin-left: 0.4rem;
    }
  }
}
.ForgotPasswordOtp_Input {
  display: grid;
  gap: 0.8rem;
  position: relative;
  label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    color: #0a0a0a;
  }
  input {
    border: 1px solid #999;
    outline-color: #857250;
    outline-width: 1px;
    padding: 0.6rem;
    border-radius: 4px;
  }
}

.ForgotPasswordOtp_OTP {
  margin: 40px 0;
  div {
    div {
      input {
        width: 3.2em !important;
        padding: 0.5rem;
        border: none;
        border-bottom: 2px solid #857250;
        color: #6c6c6c !important;
        font-size: 16px !important;
      }
    }
  }
}
.ForgotPasswordOtp_Button {
  display: grid;

  button {
    background: #857250;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-transform: none;
    padding: 0.6rem;
    &:hover {
      background: #857250;
    }
  }
}

.ForgotPasswordOtp_Bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  a {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #718096;
  }
}
