.ResetPassword {
  margin-bottom: 1rem;
  padding: 45px 35px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #ffffff;
  position: relative;
}

.ResetPassword_Title {
  margin-bottom: 1rem;
  display: grid;
  h1 {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 48px;
    color: #0a0a0a;
  }
  p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6c6c6c;
  }
}

.ResetPassword_Input {
  display: grid;
  gap: 0.6rem;
  label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    color: #0a0a0a;
  }
  input {
    border: 1px solid #999;
    outline-color: #857250;
    outline-width: 1px;
    padding: 0.6rem;
    border-radius: 4px;
    color:#718096
  }
}

.ResetPassword_Button {
  display: grid;
  .ResetPassword_Button_Button {
    background: #857250;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-transform: none;
    margin-top: 0.5rem;
    padding: 0.7rem;
    &:hover {
      background: #857250;
    }
  }
  .GoBack_Button{
    background: #ffffff;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #857250;
    border: 2px solid #857250;
    text-transform: none;
    margin-top: 0.5rem;
    padding: 0.7rem;
    position: relative;
    &:hover {
      background: #ebebeb;
    }
  }
}
.ChoicesDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p{
    font-size: 15px;
    font-weight: 400;
    font-family:DM Sans ;
  }
  .HoriChoicesDiv{
    display: flex;
    align-items: center;
    margin-left: -0.7em;
  }
  .Radio{
    display: flex;
    align-items: center;
    margin: 0;
    h3{
    margin: 0;
      font-size: 15px;
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.BackBtn{
  position: absolute;
  top: 0%;
  left: 0%;
  color: #857250;
}
@media screen and (max-width:375px){
  .ChoicesDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -0.5em;
    p{
      font-size: 12px;
      font-weight: 400;
      font-family:DM Sans ;
    }
    .HoriChoicesDiv{
      display: flex;
      align-items: center;
    margin-left: -0.7em;

    }
    .Radio{
      display: flex;
      align-items: center;
      margin: 0;
      h3{
      margin: 0;
        font-size: 13px;
      }
    }
  }
}