@mixin btn {
  text-transform: none !important;
  font-family: DM Sans !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  border: none !important;
  outline: none !important;
  font-size: 16px!important;
}
.container {
  margin-top: 2rem;
  position: relative;
  display: flex;
  gap: 2rem;
  .firstContainer {
    width: 750px;
     .mainHeader {
      height: 60px;
      padding: 1rem 1.7rem;
      background: rgba(230, 227, 220, 1);
      font-family: DM Serif Display;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: var(--primary-color);
      width: 100%;
    }
    .borderDiv{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--primary-color);
      border-left: 1px solid var(--primary-color);
      border-right: 1px solid var(--primary-color);
      
    }
     .mainDiv {
      padding: 1rem 1.5rem;
      display: flex;
      gap: 1rem;
      img {
        height: 186px;
        width: 165px;
      }
      > div {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        > div:first-child {
          display: flex;
          gap: 0.5rem;
          flex-direction: column;
          .Itemname {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
          }
          > p:nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.3199999928474426px;
            color: rgba(108, 108, 108, 1);
          }
          > div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            > span:first-child {
              font-size: 12px;
              font-weight: 700;
              line-height: 16px;
              letter-spacing: 0.3199999928474426px;
            }
            > div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 27px;
              width: 100px;
              border: 1px solid rgba(206, 199, 185, 1);
              border-radius: 5px;
              background-color: rgba(206, 199, 185, 1);

              .quantity {
                height: 27px !important;
                min-width: 30px !important;
                background: #fff;
                display: grid;
                place-items: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.1599999964237213px;
                text-align: center;
                padding: 0 2px;
                border: 1px solid rgba(206, 199, 185, 1);
              }
              .addBtn,
              .removeBtn {
                height: 27px !important;
                min-width: 24.00000000000002px !important;
                background: rgba(206, 199, 185, 1) !important;
                outline: none !important;
                border: none !important;
              }

              .addBtn {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
              }

              .removeBtn {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
              }
            }
          }
        }

        > div:last-child {
          > p:first-child {
            font-family: DM Serif Display;
            font-size: 28px;
            font-weight: 400;
            line-height: 36px;
          }
          > p:last-child {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            display: flex;
            gap: 5px;
            > span:first-child {
              text-decoration: line-through;
              color: rgba(230, 227, 220, 1);
            }
            > span:last-child {
              color: var(--primary-color);
            }
          }
        }
      }
    }

    > div:last-child {
      margin-top: 5rem;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: var(--primary-color-dark);
    }
  }
}


.OrderLine{
  display: flex;
  margin-top: 1em;
  width: 96%;
  align-items: center;
  margin-left: auto;
  p{
    //styleName: Headline / H4;
font-family: DM Serif Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-right: 1em;
  }
}
.quan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5em;
  width: 100%;
  margin-right: 0;
  p{
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.3199999928474426px;
text-align: left;
margin-bottom: 1em;
  }
}
.addBtn,
.removeBtn {
  height: 27px !important;
  min-width: 24.00000000000002px !important;
  background: rgba(206, 199, 185, 1) !important;
  outline: none !important;
  border: none !important;
}

.addBtn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.lastContainer {
  width: 360px;

  > div:first-child {
    border: 1px solid rgba(206, 199, 185, 1);
    padding: 1.4rem 1rem;
    > div:first-child {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

    > div:nth-child(2) {
      display: grid;
      gap: 1rem;
      padding: 1rem 0 0.7em 0;
      .selectedProductPrices {
        display: grid;
        gap: 0.8rem;
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: rgba(157, 157, 157, 1);

          > label {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
          }
          > span {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
          }
        }
      }
    }
    .totalAmtDiv {
      display: grid;
      gap: 0.7rem;
      padding-bottom: 0.9rem;
      > div:first-child {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }
}

.applyCouponDiv {
  border: 1px solid rgba(206, 206, 206, 1) !important;
  padding: 0 0.5rem !important;

  .accordionHeader {
    display: flex;
    align-items: center;
    gap: 7px;
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .couponInputDiv {
    display: grid;
    gap: 0.5rem;
    margin-top: -1em;
    width: 100%;
    > div:first-child {
      border: 1px solid rgba(133, 114, 80, 1);
      padding: 0.6rem 0.9rem;
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      border-radius: 5px;
      input {
        flex: 1;
        border: none;
        outline: none;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        color: rgba(255, 84, 62, 1);
        cursor: pointer;
      }
    }
    > a {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(0, 122, 185, 1);
    }
  }
}

.protype{
  //styleName: Headline / H5;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
}
.protypetext{
  font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.1599999964237213px;
text-align: left;

}


.placeOrderBtnDiv {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
.placeOrderBtn {
  height: 48px !important;
  flex: 1 !important;
  border-radius: 5px !important;
  text-transform: none !important;
  color: #fff !important;
  font-family: DM Sans !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  background-color: var(--primary-color) !important;
}

// DeliveryAddress
.DeliveryAddress{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  .mainDiv {
     margin-left: 2em;
      position: relative;
      display: flex;
      flex-direction:column;
      padding: 0!important;
      width: 382px;
      border: 1px solid var(--primary-color);
      .radioDiv{
        position: absolute;
      }
      >.firstAftermain {
        padding: 1rem!important;
        margin-top: 1em;
        flex-direction: column;
        gap: 0.6rem;
        > div:first-child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 16px;
            width: 100%;
            font-weight: 700;
            line-height: 20px;
          }
          > .badge {
            height: 28px;
            width: 60px;
            border-radius: 100px;
            display: grid;
            place-items: center;
            background: rgba(230, 227, 220, 1);
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.3199999928474426px;
            position: absolute;
            top: 5%;
            right: 5%;
            color: var(--primary-color-dark);
          }
        }
        > p:nth-child(2) {
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.1599999964237213px;
          color: rgba(108, 108, 108, 1);
        }
        > p:last-child {
          > span:first-child {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.1599999964237213px;
          }

          > span:last-child {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.1599999964237213px;
            color: var(--primary-color);
          }
        }
      }

      > div:last-child {
        margin-top: auto;
        padding: 0!important;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(206, 206, 206, 1);
      }
    }
    .ActionBtnDiv{
      width: 100%;
      max-width: 300px;
      margin-right: 1em;
      .btnDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .addNewAddressBtn,
        .useCurrentLocationBtn {
          height: 56px !important;
          width: 90% !important;
          @include btn();
          background-color: var(--primary-color-dark) !important;
          color: #fff !important;
        }
      
}

}
}
.editBtn,
.changeBtn {
  height: 42px !important;
  flex: 1 !important;
  background: transparent !important;
  text-transform: none !important;
  font-family: DM Sans !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
  outline: none !important;
}
.editBtn {
  color: var(--primary-color) !important;
  border-right: 1px solid rgba(206, 206, 206, 1) !important;
}
.changeBtn {
  color: rgba(218, 30, 40, 1) !important;
}

// Modal Css

.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow: hidden;  
  top: 0;
  background: #00000066;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  .CloseBtn{
    position: absolute;
    top: 2%;
    right: 2%;
  }
  .Popup{
    width: 90%;
    position: relative;
    max-width: 650px;
    background-color: #fff;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
      font-family: DM Serif Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 1em;
    }
    p{
      font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 0.5em;
  width: 80%;
    }
  }
  }
  

@media screen and (max-width: 769px) {
  .placeOrderBtnDiv{
    margin-top: 1em!important;
  }
  .mainHeader{
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .lastContainer {
    width: 100% !important;
    .placeOrderBtnDiv {
      margin: 2rem 0;
    }
  }

  .firstContainer {
    width: 100%!important;
    >.mainDiv{
      width: 100%;
    }
    > div:nth-child(2) {
      padding: 1rem !important;
      > div {
        padding: 0 !important;
      
      }
    }
  }
.image{
  height: 108px!important;
width: 96px!important;
border-radius: 5px;
}
.protype{
  font-size: 12px;
}
.protypetext{
  font-size: 12px;
}

.lastContainer{
  margin-top: -5em!important;
}
.Itemname{
  font-family: DM Sans!important;
font-size: 14px!important;
font-style: normal!important;
font-weight: 700!important;
line-height: 20px!important;
text-align: left!important;

}
}


.PriceMobile{
  display: flex;
  align-items:center;
  flex-direction: row!important;
  justify-content: flex-start;
  width: 100%;
}



.PriceMobileMain{
font-family: DM Serif Display;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
.PriceMobileOriginal{
  text-decoration: line-through;
  font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
color: #e6e3dc!important;
margin-left: 0.5em;


}
.PriceMobileDiscount{
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

font-family: DM Sans;
font-style: normal;
font-weight: 700;
color: var(--primary-color);
margin: 0!important;
}


@media screen and (max-width: 1000px) {
.DeliveryAddress{
  justify-content: space-around;
}
.container{
  flex-direction:column ;
  .firstContainer{
    width: 100%;
  }
}
}
@media screen and (max-width: 650px) {
.DeliveryAddress{
  flex-direction: column;
  width: 100%;
  .mainDiv{
    width: 100%;
    margin-bottom: 1em;
    margin-left: 0!important;
  }
  .ActionBtnDiv{
    width: 100%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.borderDiv{
  .mainDiv{
    margin-top: 1em;
  }
}

}