.container{
    padding: 1em;
    border-radius: 6px;
    background-color: #F1EFEB;
    font-family: DM Sans;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    h1{
        color: #857250;
        font-weight: 700;
        font-size: 20px;
    }
    ul{
        padding: 1em;
        // list-style: none;
        .li{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0.8em;
            margin-top: 0.8em;
            color: #3B3B3B;
            font-weight: 400;

            }
            .readli{
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 0.8em;
                margin-top: 0.8em;
                color: #3B3B3B;
                font-weight: 400;
            }
            
    }
}

.vectorli{
    list-style-image: url("./new.svg");
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    color: #3B3B3B;
    font-weight: 400;
}

.button{
    background-color: #6A5B40!important;
    font-weight: bold!important;
}

@media  screen and (max-width:600px)   {

.button{
    font-size: 10px!important;
    text-align: left!important;
}

.li{
    font-size: 14px!important;
    font-weight: 700!important;
}
.vectorli{
    font-size: 12px!important;
    font-weight: 900!important;
}
.readli{
    font-size: 12px!important;
    font-weight: 900!important;
}
.container{
padding:0.5em ;
}
}

