//Here Collabrate_With_US style
.Collabrate_With_US {
  height: 550px;
  background-image: url('../Images//bg.png');
  padding: 0 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
  margin: 1rem 0 2rem;
  button {
    height: 45px;
    width: 170px;
    font-size: 14px;
    margin: 0 auto;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Serif Display';
    text-transform: capitalize;
    // box-shadow: 0px 6px 10px #0000007d;
    &:hover {
      background: #857250;
      color: #fff;
      border: 2px solid #857250;
    }
  }
  h2 {
    color: #fff;
    font-size: 54px;
    text-align: center;
    font-family: 'DM Serif Display';
    padding-bottom: 20px;
    z-index: 2;
  }
  p {
    color: #fff;
    font-family: Quicksand;
    font-size: 16px;
    margin-bottom: 20px !important;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
  }
  // button {
  //   height: 200px;
  //   width: 60vw;
  //   display: flex;

  //   justify-content: center;
  //   align-items: center;
  //   background: #392d169a;
  //   color: white;
  //   font-family: "DM Serif Display";
  //   text-transform: capitalize;
  //   box-shadow: 0px 6px 10px #0000007d;
  //   font-size: 54px;
  //   &:hover {
  //     background: #614c26b5;
  //   }
  // }
}

.collabrate_bgg {
  background: #6a5b4052;

  // padding: 3rem 2rem !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Collabrate_With_US {
    h2 {
      font-family: DM Serif Display;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
    }
    p {
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;

      margin-bottom: 5px !important;
      width: 95%;
      text-align: center;
      margin: 0 auto;
    }
    height: 50vh;
    button {
      font-size: 14px;
      font-weight: 400;
      width: 180px;
    }
  }
}

@media screen and (max-width: 420px) {
  .collabrate_bgg {
    padding: 1rem 1rem;
  }
  .Collabrate_With_US {
    height: 220px;
    button {
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

      &:hover {
        background-color: #fff;
        color: #857250;
      }
    }
    h2 {
      font-family: DM Serif Display;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
    }
    p {
      font-family: DM Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;

      margin-bottom: 5px !important;
      width: 95%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
