//here HandMade_Clothes Styles
.HandMade_Clothes_header {
  color: #fff;
}
.HandMade_Clothes {
  display: flex;
  height: 495px;
  gap: 1rem;
  margin: 0 5px;
  align-items: center;
  justify-content: space-between;
  .HandMade_Clothes_Items {
    display: grid;
    justify-content: center;
    background: #fff;
    width: 100%;
    box-shadow: 0px 5px 10px #00000041;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    p {
      font-size: 16px;
      
      text-align: center;
      padding: 15px 0px;
      color: black;
      font-weight: 500;
    }
  }
}

//Here Static Styles For Carousel
.Carousel_header {
  font-family: DM Serif Display;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.5px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.NavigationContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  a:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0059ff;
  }
}
.Carousel_SliderButtonBox {
  display: flex;
  gap: 1rem;
  .Carousel_SliderButtons {
    background: none;
    border: none;
    .Carousel_iconBtn {
      border: 1px solid rgb(0, 0, 0) !important;
      color: rgb(0, 0, 0) !important;
    }
  }
}

//-----------------------//

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .handmadeclothes {
    padding: 3rem 2rem !important;
  }
  .Carousel_header {
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 44px;
  }
  .HandMade_Clothes {
    .HandMade_Clothes_Items {
      width: 100%;
    }
  }
}


@media screen and (max-width: 450px){
  .HandMade_Clothes_header {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .handmadeclothes {
    padding: 3rem 1rem !important;
  }
  .HandMade_Clothes {
   
    height: 340px;
    
    .HandMade_Clothes_Items {

      img {
        height: 250px;
        
      }
      p {
        
      }
    }
  }
}
