//Here Measurement_Simulation style
.Measurement_Simulation {
  height: 605px;
  background: mediumaquamarine;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../Images//m1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  div {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 475px;
    h1 {
      font-family: DM Serif Display;
      font-size: 63px;
      font-style: normal;
      font-weight: 400;
      line-height: 80px;
      letter-spacing: 0em;
      text-align: left;

      color: #fff;
    }
    button {
      background: rgba(0, 0, 0, 0) !important;
      color: #fff !important;
      text-transform: capitalize;
      margin-top: 15px;
      width: 160px;
      border: 2px solid #ffffff;
      width: 227px;
      height: 50px;

      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

      &:hover {
        background-color: #ffffff !important;
        color: #857250 !important;
      }
    }
  }
}

.buttons {
  width: 165px;
  height: 50px;
  font-weight: 700;
  font-family: DM Sans !important;
  font-size: 14px;
  background-color: #ffffff !important;
  color: #857250 !important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Measurement_Simulation {
    justify-content: center;
    div {
      align-items: center;
      margin: 0;
      h1 {
        font-size: 64px;
        text-align: center;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .Measurement_Simulation {
    height: 282px;
    position: relative;

    div {
      display: grid;
      width: 100%;
      place-items: center;
      margin: 0 !important;
      h1 {
        //styleName: Headline / H3;
        font-family: DM Serif Display;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
      }
      p {
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        width: 339px;
      }
    }
  }
  .buttons {
    margin-left: 15px !important;
    background-color: #ffffff !important;
    width: 150px !important;
    height: 40.33px !important;
  }
}
@media screen and (max-width: 769px) {
  .Measurement_Simulation {
    div {
      h1 {
        text-align: left !important;
      }
    }
  }
}
