//here SuitWear Styles

.SuitWear_header {
  color: #fff;
  font-family: DM Serif Display;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.5px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: -0.6em;
}

.SuitWear {
  display: flex;
  transition: all 0.3s ease-in-out ;

  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
  &:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out ;
    SuitWear_Items{
    box-shadow: 0px 0px 20px #000000c7;

    }
  }
  .SuitWear_Items {
    margin-left: 1em!important;
    margin-right: 1em!important;
    height: 290px!important;
    width: 290px!important;
    display: grid;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px #00000041;
    img {
      height: 250px;
      width:290px;
      object-fit: cover;
      object-position: top!important;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 10px 0px;
      color: black;
      font-weight: 500;
    }
  }
}

.NavigationContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  a:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0059ff;
  }
}
.Carousel_SliderButtonBox {
  display: flex;
  gap: 1rem;
  .Carousel_SliderButtons {
    background: none;
    border: none;
    .Carousel_iconBtn {
      border: 1px solid rgb(0, 0, 0) !important;
      color: rgb(0, 0, 0) !important;
     
    }
  }
}


//-----------------------//

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .suitwear_content{
    padding: 3rem 2rem !important;
  }
  .SuitWear_header {
    font-size: 54px;
    gap: 1rem;
    font-weight: 400;
  }

  .Carousel_header {
    text-align: center;
    font-size: 44px;
    line-height: 44px;
  }



  .SuitWear {
    display: flex;
    gap: 0em;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
    .SuitWear_Items {
      margin-left: 1em!important;
      margin-right: 1em!important;
      height: 290px!important;
      width: 290px!important;
      display: grid;
      justify-content: center;
      background: #fff;
      box-shadow: 0px 5px 10px #00000041;
      img {
        height: 250px;
        width:290px;
        object-fit: cover;
        object-position: top!important;
      }
      a {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 10px 0px;
        color: black;
        font-weight: 500;
      }
    }
  }
  





}


@media screen and (max-width: 450px){
  .suitwear_content {
    padding: 3rem 1rem !important;
  }
  .SuitWear_header {
    font-size: 35px;
    gap: 1rem;
    margin-bottom: 5px;
    font-weight: 400;
  }
  // img {
  //   width: 346px !important;
  // }
  
}

@media screen and (max-width: 769px){
  .SuitWear_header{
    margin-top: 0em;
    margin-bottom: 0.7em;
  }
  

.SuitWear {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 2em;
  .SuitWear_Items {
    
    height: 290px!important;
    width: 250px!important;
    display: grid;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px #00000041;
    img {
      height: 250px;
      background: #000;
      width:250px;
      object-fit: cover;
      object-position: top!important;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 10px 0px;
      color: black;
      font-weight: 500;
    }
  }
}
}
  @media screen and (max-width: 550px){

.SuitWear_header{
  margin-bottom: 0.5em;
}








}