//here Top_Designer Styles
.Top_Designer_header {
  color: #000;
 
}
.Top_Designer {
  display: flex;
  height: 400px;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  .Top_Designer_Items {
    display: grid;
    justify-content: center;
   
    img {
      height: 330px;
      width: 100%;
      object-fit: contain;
      border: 7px solid #9D8E73;
    }
    a {
      font-size: 19px;
      font-weight: 400;
      text-align: center;
      padding: 20px 0px;
      color: black;
      font-weight: 500;
    }
  }
}

//Here Static Styles For Carousel
.Carousel_header {
  font-family: DM Serif Display;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.5px;
  margin-bottom: 62px;
  align-items: center;
  gap: 1rem;
}
.NavigationContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  a:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0059ff;
  }
}
.Carousel_SliderButtonBox {
  display: flex;
  gap: 1rem;
  .Carousel_SliderButtons {
    background: none;
    border: none;
    .Carousel_iconBtn {
      border: 1px solid rgb(0, 0, 0) !important;
      color: rgb(0, 0, 0) !important;
    }
  }
}
.topdesigner{
  padding: 12rem 1rem;
}
//-----------------------//

@media screen and (max-width: 786px) {
  .Carousel_header {
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    line-height: 44px;
  }
  .Top_Designer {
    .Top_Designer_Items {
      a {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .topdesigner {
    padding: 3rem 1rem !important;
  }
  .Carousel_header {
    text-align: center;
    font-size: 32px;
  }
}
