//here TopCategory Styles

.TopCategory {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 0rem 3rem 0rem 3rem;
  background-color: #F3F1EE;
  margin-top: 10rem;
  margin-top: 11rem;
  .TopCategory_Items {
    margin-top: -6rem;
    display: grid;
    justify-content: center;
    position: relative;
    overflow: hidden;
    h1 {
      color: #6a5b40;
      font-family: DM Serif Display;
      font-size: 51px;
      font-weight: 400;
      line-height: 62px;
      width: 30%;
      padding-top: 3rem;
    }
    img {
      height: 720px;
      width: 100%;
      object-fit: unset;
      object-position: right;
      box-shadow: 0px 5px 10px #00000041;
    }
    .TopCategory_Items_Layer {
      position: absolute;
      height: 100%;
      width: 100%;
      // background: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      display: flex;
      align-items: flex-end;
      .TopCategory_Items_Layer_text {
        display: flex;
        flex-direction: column;
        padding: 2.5rem 2rem;
        gap: 1rem;
        font-family: Quicksand;
        h2 {
          color: #fff;
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 26px;
          font-weight: 700;
        }
        p {
          color: #fff;
          line-height: 26px;
          font-size: 15px;
          font-weight: 500;
          padding-right: 5rem;
        }
      }
    }
  }
}
.TopCategory_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  button {
    background: #857250;
    text-transform: capitalize;
    font-size: 1rem;
    color: #fff;
    width: 170px;
    &:hover {
      background: #a5916e;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .TopCategory {
    margin-top: 9rem;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    padding-right: 0;
    .TopCategory_Items {
      img {
        height: 540px;
      }
      p {
        padding-right: 1rem !important;
      }
    }

  }
  .hidden_web {
    display: block !important;
  }
  .TopCategory .TopCategory_Items:nth-of-type(1) {
    display: none !important;
  }
  .top_category_title {
    padding-left: 2rem;
    display: block !important;
    color: #6A5B40;
    text-align: left;
    padding-top: 3rem;
    font-family: DM Serif Display;
    font-size: 54px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1.5px;
  }
  
  .TopCategory_header {

    font-size: 2rem;
  }
  
}
.top_category_title {
  display: none;
}
@media screen and (max-width: 420px) {
  
  .hidden_web {
    display: block !important;
  }
  .TopCategory .TopCategory_Items:nth-of-type(1) {
    display: none !important;
  }
  .top_category_title {
    display: block;
    color: #6A5B40;
    text-align: center;
    padding-top: 3rem;
    font-family: DM Serif Display;
    font-size: 35px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1.5px;
    justify-content: center;
    display: flex;
    align-items: center;
   
  }
  .TopCategory_header {
    font-size: 2rem;
  }
  .TopCategory {
    margin-top: 1rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 0;
    gap: 0rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 15px;
    padding-right: 0;
    /* height: 337px; */
    overflow-x: scroll;
    .TopCategory_Items {
      width: 350px;
     
      img {
        height: 603px;
        width: 100%;
        object-fit: cover;
      }
      h1 {
        font-size: 46px;
        text-align: center;
      }
    }
  }
}
