//here Trending Styles
.Trending_header {
  color: #000;
  // font-style: italic;
}

.Trending {
  display: flex;
  // height: 400px;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  .Trending_Items {
    display: grid;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px #00000041;
    img {
      height: 360px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 15px 0px;
      color: black;
      font-weight: 500;
    }
  }
}
.Trending_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  button {
    background: #857250;
    text-transform: capitalize;
    font-size: 1rem;
    color: #fff;
    width: 170px;
    &:hover {
      background: #a5916e;
    }
  }
}
.Trending_header {
  color: #000;
  font-family: DM Serif Display;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.5px;
  margin-bottom: 62px;
  display: flex;
  align-items: center;
  gap: 4rem;
}

@media only screen and (min-device-width: 420px) and (max-device-width: 1024px) {
  .Trending_Button {
    padding-top: 3rem;
  }
  .trending_content {
    padding: 5rem 2rem !important;
  }
  .Trending_header {
    font-size: 54px;
    font-weight: 400;
    color: #6A5B40;
  }
  .Trending {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .trending_content{
    padding: 2rem 1rem !important;
  }
  
  .Trending_header {
    font-size: 20px;
    gap: 1rem;
    margin-bottom: 20px;
  }
  .Trending {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    .Trending_Items {
      img {
        height: 160px;
        
      }
    }
  }
  .Trending_Button {
    
    button {
      margin-top: 20px;
    }
  }
}

@media only screen   
and (min-width: 1250px)  
and (max-width: 1600px) {
  .Trending {
    .Trending_Items {
      img {
        height: 240px;
      }
    }
  }
}