@mixin btn {
  height: 55px !important;
  border-radius: 5px !important;
  padding: 12px, 16px, 12px, 16px !important;
  text-transform: none !important;
  font-family: DM Sans !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  @media screen and (max-width: 550px) {
    font-size: 16px !important;
  }
}
.FormControlLabel {
  max-width: 330px;
  height: 5em;
}

.gallery_container {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 2rem;
  margin: auto;
}

.main_img {
  position: relative;
  img {
    width: 100%;
    height: 658.69px;
    object-fit: cover;
    // min-height: 600px;

    // min-width: 100%;
  }
}

.other_imgs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;

  img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
  }
}
.other_imgs_tab {
  display: none;
  cursor: pointer;
}
.product__title {
  //styleName: Headline / H3;
  font-family: DM Serif Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;

  @media screen and (max-width: 768px) {
    //styleName: Headline / H3;
    font-family: DM Serif Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }
}
// .imagegall {
//   background: white;
//   padding-top: 1em;
//   img {
//     object-fit: cover;
//     object-position: top;
//   }
//   img .image-gallery-image {
//     height: 200px !important;
//   }
// }
.icons {
  position: absolute;
  right: 0;
  top: 0;
}

.FormControlLabelS {
  max-width: 300px;
}
.container {
  width: 100%;

  position: relative;
  display: flex;
}
.ChoicesBtnsLabels {
  padding: 0.5em 0em 0.5em 0em;
  font-weight: bolder;
}
.firstContainer,
.lastContainer {
  width: 50%;
}
.ProductSelector {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1em;
  height: 3em; /* Sets the div height to 2x line-height (3 times text size) */
  width: 100%; /* Use whatever width you want */
  white-space: normal; /* Wrap lines of text */
  text-overflow: ellipsis; /* Ellipses (cross-browser) */
  -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
}

.firstContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  margin: 1rem 0;

  .deliveryDiv {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 112px;
    > div:first-child {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-family: DM Serif Display;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }

    > div:nth-child(2) {
      display: grid;
      gap: 0.5rem;
      label {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.1599999964237213px;
      }
      input {
        height: 40px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid #6a5b40;
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.1599999964237213px;
        padding: 1rem 1.3rem;
        outline: none;
        &::placeholder {
          color: grey;
        }
      }
    }

    > span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1599999964237213px;
      color: var(--primary-color-dark);
    }

    .checkBtn {
      @include btn();
      width: 250px !important;
      color: #fff !important;
      background-color: var(--primary-color-dark) !important;
    }
  }
}

.wishlistBtn {
  background-color: #857250;
  color: #fff;
  margin-left: auto;
  height: 35px;
  margin-top: -1rem;
  right: 100px;

  text-transform: capitalize;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;

  &:hover {
    background-color: #857250;
  }
}

.shareBtn {
  position: absolute;
  right: 100px;
  top: 100px;
}

.lastContainer {
  position: relative;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 1rem;
  .productDetails {
    display: grid;
    > span:first-child {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: #000;
    }
    > span:last-child {
      font-family: DM Serif Display;
      font-size: 28px;
      font-weight: 400;
      line-height: 36px;
      color: rgba(59, 59, 59, 1);
    }
  }
  .thumbnail {
    width: 70px !important;
    height: 76px !important;
    object-fit: cover;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    > span:first-child {
      font-family: DM Serif Display;
      font-size: 34px;
      font-weight: 400;
      line-height: 48px;
      color: rgba(10, 10, 10, 1);
    }
    > p:last-child {
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1599999964237213px;
      > span:first-child {
        text-decoration: line-through;
        color: grey;
      }

      > span:last-child {
        color: var(--primary-color);
      }
    }
  }

  .priceTab {
    display: flex;
    align-items: center;
    // margin-left: 1em;

    > span:first-child {
      font-family: DM Serif Display;
      font-size: 34px;
      font-weight: 400;
      line-height: 48px;
      color: rgba(10, 10, 10, 1);
      margin-right: 0.4em;
    }
    > p:last-child {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1599999964237213px;
      > span:first-child {
        text-decoration: line-through;
        color: grey;
      }

      > span:last-child {
        color: var(--primary-color);
      }
    }
  }
  .fabric {
    h1 {
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      span {
        //styleName: Headline / H5;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }

  .radioBtnsLabels {
    font-size: 14px !important;
  }

  .alert {
    display: flex;
    gap: 1rem;
    align-items: center;
    > span {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: var(--primary-color-dark);
    }

    > div {
      height: 24px;
      width: 62px;
      border-radius: 12px;
      padding: 4px, 12px, 4px, 12px;
      background-color: var(--primary-color-dark);
      display: grid;
      place-items: center;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.3199999928474426px;
      color: #fff;
    }
  }

  .sizeDiv {
    height: 40px;
    width: 375px;
    border-radius: 0px;
    background: rgba(245, 244, 241, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-top: 0.5rem;

    > span {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1599999964237213px;
      color: #000;
    }
    > a {
      text-decoration: underline;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.3199999928474426px;
    }
  }

  .selectColor {
    margin-top: 0.5rem;
    li {
      padding: 1em;
    }
    > div:first-child {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: #000;
      margin-bottom: -1em;
    }
  }
  .ProductSelectorHelpBtn {
    padding: 0.5em 0.5em;
    color: #6a5b40;
    // position: absolute;
    right: 0;
    // transform: translateX(-50%);
  }

  .btnDiv {
    display: grid;
    gap: 1rem;
    width: 487px;
    margin-top: 1rem;
    .simulationBtn {
      @include btn();
      color: var(--primary-color-dark) !important;
      background-color: #fff !important;
      border: 1px solid var(--primary-color-dark) !important;
      box-shadow: none !important;
    }

    > div:last-child {
      display: flex;
      gap: 1rem;
      .customiseBtn {
        @include btn();
        color: #fff !important;
        background-color: var(--primary-color-dark) !important;
      }

      .addToBagBtn {
        @include btn();
        // color: var(--primary-color-dark) !important;
        position: relative !important;

        // background-color: #fff !important;
        border: 1px solid var(--primary-color-dark) !important;
        box-shadow: none !important;
        overflow: hidden !important;
        color: #6a5b40 !important;
        // background-color: var(--primary-color-dark) !important;
        .bagIcon {
          margin-right: 1rem;
        }
      }
      .addToBagBtnClicked {
        @include btn();
        position: relative !important;
        overflow: hidden !important;
        animation: button 1.5s ease-in !important;
        color: #fff !important;
        background-color: var(--primary-color-dark) !important;
      }
      .bagIcon {
        display: inherit;
        justify-content: center;
        align-items: center;
      }
      .bagIconclicked {
        animation: cart 0.5s ease-in forwards;
        position: absolute;
      }
      .shirtAnimate {
        animation: cartShirt 0.5s ease-in forwards;
        // position: absolute;
      }
      .addBagclicked {
        animation: txt1 1.5s ease-in-out forwards;
      }
      .addBag {
        opacity: 1;
        margin-left: 12px;
      }
      .addedBag {
        display: none;
      }
      .addedBagclicked {
        animation: txt2 1.5s ease-in forwards;
        position: absolute;
      }
    }
  }
}
@keyframes cart {
  0%,
  25% {
    left: 0%;
  }
  50% {
    left: 27%;
  }
  100% {
    left: 45%;
    opacity: 0;
  }
}

@keyframes cartShirt {
  0%,
  25% {
    left: 100px;
  }
  50% {
    left: 50px;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes button {
  0% {
    background-color: none;
    color: none;
  }
  50% {
    background-color: none;
    color: none;
  }
  100% {
    color: #fff !important;
    background-color: var(--primary-color-dark) !important;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.SelectColorCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .ColorBTN {
    width: 1.5em !important;
    height: 1.5em !important;
    margin-right: 0.5em;
    border-width: 5px !important;
    border-style: solid !important;
    .ColorInnerBTN {
      width: 1em !important;
      height: 1em !important;
      background-color: transparent !important;
      border: 3px;
      border-style: solid;
    }
  }
}

@media screen and (max-width: 1044px) {
  .container {
    flex-direction: column;
    padding: 1rem 56px;
  }

  .firstContainer,
  .lastContainer {
    width: 100%;
  }

  .firstContainer {
    padding-bottom: 2rem;
    .deliveryDiv {
      padding-left: 0;
    }
  }

  .lastContainer {
    border: none;
    padding: 0;
  }
}

@media only screen and (min-width: 834px) and (max-width: 1044px) {
  .priceTab {
    margin-left: 10em !important;
  }
  .FormControlLabelS {
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .btnDiv {
    width: 100% !important;
  }
  .priceTab {
    margin-left: 1em !important;
  }
}

@media screen and (max-width: 768px) {
  .other_imgs {
    display: none;
  }
  .gallery_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .other_imgs_tab {
    display: flex;
    gap: 1rem;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      min-height: 80px;
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 1rem;
  }
  .firstContainer {
    .deliveryDiv {
      > div:nth-child(2) {
        input {
          width: 100%;
        }
      }
    }
  }

  .btnDiv {
    width: 100% !important;
  }

  .sizeDiv {
    width: 100% !important;
  }
  .priceTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
    flex-wrap: wrap;
    > span:first-child {
      font-family: DM Serif Display;
      font-size: 20px;
      font-weight: 400;
      line-height: 48px;
      color: rgba(10, 10, 10, 1);
      margin-right: 0.4em;
    }
    > p:last-child {
      font-size: 14px !important;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1599999964237213px;
      > span:first-child {
        text-decoration: line-through;
        color: grey;
      }

      > span:last-child {
        color: var(--primary-color);
      }
    }
  }
  .price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    > span:first-child {
      font-family: DM Serif Display;
      font-size: 20px !important;
      font-weight: 400;
      line-height: 48px;
      color: rgba(10, 10, 10, 1);
    }
    > p:last-child {
      font-size: 14px !important;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.1599999964237213px;
      > span:first-child {
        text-decoration: line-through;
        color: grey;
      }

      > span:last-child {
        color: var(--primary-color);
      }
    }
  }
}

.mobile__heading {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
