.heading{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 63px;
    display: flex;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.text{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140%;
    margin-left: 25px;
}
.headingMobile{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 63px;
    display: flex;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.textMobile{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-left: 25px;
}
.button{
    background: #6A5B40 !important;
    width: 182px !important;
    height: 48px !important;
    border-radius: 5px !important;
    font-family: DM Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #FFFFFF !important;
    text-transform: uppercase !important;
    font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on !important;
}
.buttonMobile{
    display: none !important;
}