.btn {
  text-transform: none !important;
  //   width: 84px !important;
  background-color: #fff !important;

  border: none !important;
}

.filterBtn {
  font-family: DM Serif Display !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
}

.clearBtn {
  font-family: DM Sans !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  letter-spacing: 0.1599999964237213px;
  color: #857250 !important;
}

.productsGrid {
  // width: 100%;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  place-items: center;
}


@media screen and (max-width: 1060px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 580px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .btn {
    height: 37px !important;
    // width: 70px !important;
  }
  .filterBtn {
    font-size: 14px !important;
    line-height: 19px !important;
  }

  .clearBtn {
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
