.header {
  display: flex;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.5px;
  color: #0a0a0a;
  span:first-child {
    font-family: DM Serif Display;
    font-style: italic;
  }
}

.carouselNavigationDiv {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  > a:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0a0a0a;
  }
}

.sliderBtnDiv {
  display: flex;
  gap: 1rem;
  .sliderBtn {
    background: none;
    border: none;
    :hover {
      background: #6a5b40 !important;
      border-radius: 50%;
      border: #6a5b40 !important;
    }
  }
}

.iconBtn {
  border: 1px solid rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  h4 {
    font-family: DM Serif Display !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #ffffff !important;
  }
}

@media screen and (max-width: 835px) {
  .header {
    justify-content: center;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .header {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
  .moreButton {
    text-transform: initial !important;
    font-family: DM Sans !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: white !important;
  }
}
