.carouselItem {
  width: 100%;
  background-image: url('./Images//menswear1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 484px;
  div {
    width: 100%;
    height: 100%;
    background: #392d16e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  color: #fff;
  span {
    font-family: DM Serif Display;
    font-size: 92px;
    font-weight: 400;
    line-height: 92px;
    letter-spacing: -1.5px;
    text-align: center;
  }
.menswear_categories{
  width: 100%;
}
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0075em;
    text-align: center;
    width: 60%;
    margin-top: 1rem;
  }
}

.categoriesToBagSection {
  display: grid;
  gap: 3rem;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  .categoriesToBagHeader {
    font-family: DM Serif Display;
    font-size: 54px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    color: #0a0a0a;
  }
}


@media screen and (max-width: 835px) {
}
@media screen and (max-width: 768px) {
  .carouselItem {

    span {
      font-size: 62px!important;
      line-height: 62px;
      letter-spacing: -1.5px;
    }
    p {
      font-size: 16px!important;
      line-height: 24px;
      letter-spacing: 0.0075em;
      width: 80%;
      margin-top: 5em;
    }
  }
  .carouselItem {
    span {
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -1.5px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.0075em;
      width: 90%;
    }
  }

  
  .categoriesToBagSection {
    gap: 2rem;
    .categoriesToBagHeader {
      font-size: 44px;
      line-height: 64px;
    }
  }

  .categoriesToBagSection {
    gap: 0.5rem;
    padding-bottom: 2rem;
    .categoriesToBagHeader {
      font-size: 44px;
      line-height: 64px;
      padding-top: 15px;
    }
  }




}
@media screen and (max-width: 550px) {

  .carouselItem {
    height: 225px;
    span {
      font-size: 30px!important;
      line-height: 30px;
      letter-spacing: -1.5px;
      margin-bottom: 1em;
    }
    p {
      margin-top: 0em;
      font-size: 12px!important;
      line-height: 18px;
      letter-spacing: 0.0075em;
      width: 90%;
    }
  }

  .categoriesToBagSection {
    gap: 0.5rem;
    padding-bottom: 2rem;
    .categoriesToBagHeader {
      font-size: 20px;
      line-height: 64px;
      padding-top: 15px;
    }
  }
  .categoriesToBagSection{
    button{
      width:120px!important;
      font-size: 13px!important;
    }
  }
}


// Carousel



.NavigationContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  a:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0059ff;
  }
}

.Carousel_SliderButtonBox {
  display: flex;
  gap: 1rem;
  .Carousel_SliderButtons {
    background: none;
    border: none;
    .Carousel_iconBtn {
      border: 1px solid rgb(0, 0, 0) !important;
      color: rgb(0, 0, 0) !important;
     
    }
  }
}

.SuitWear {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  height: 290px;
  width: 290px;
  margin-bottom: 2em;
  .SuitWear_Items {
    margin: 0 7px;
    display: grid;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px #00000041;
    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      object-position: top!important;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 15px 0px;
      color: black;
      font-weight: 500;
    }
  }
}


// Carousel






