:root {
  --primary-color: #9d8e73;
  --primary-color-dark: #6a5b40;

  /* scroll bar styles for mozilla */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-dark) var(--primary-color);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

input {
  outline: none;
}

/* scroll-bar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color-dark);
}
::-webkit-scrollbar-thumb:hover {
  background: #5a4621;
}

/* MUI Global styles */
.MuiInput-underline::after {
  border-bottom: 1px solid #000 !important;
}

.MuiAccordionSummary-root {
  /* padding: 0 !important; */
}

.MuiAccordionDetails-root {
  /* padding: 0 !important; */
}

.MuiAccordionSummary-content {
  /* margin: 0 !important; */
}

/* global pure-react-carousel style */
.carousel__dot {
  height: 2px;
  width: 100%;
  border: 0;
  background: #737373 !important;
}
.carousel__dot--selected {
  background-color: #fff !important;
}

.top_designer .carousel__dot--selected {
  background-color: #cecece !important;
}
.hande_made_clothes .carousel__dot--selected {
  background-color: #cecece !important;
}
.customer_review_content .carousel__dot--selected {
  background-color: #cecece !important;
}
.explore_top_designer .carousel__dot--selected {
  background-color: #cecece !important;
}
.celebrity_style_slider .carousel__dot--selected {
  background-color: #cecece !important;
}
.buy_get_slidee .carousel__dot--selected {
  background-color: #cecece !important;
}

.trending-carousel--dot .carousel__dot {
  height: 2px;
  width: 100%;
  border: 0;
  background: #cecece !important;
}

/* Image Gallery */
.trending-carousel--dot .carousel__dot--selected {
  background-color: #000 !important;
}

/* measurement Page Accordion */
.MuiAccordionSummary-content {
  flex-direction: column !important;
  gap: 1rem;
}

.register_as__vender--menu-item .MuiTypography-body1 {
  font-size: 14px !important;
  font-family: 'DM Sans' !important;
}

.mySwiper_view--measurement {
  height: calc(100vh - 98px);
}

.mySwiper_view--measurement img {
  object-fit: contain;
  height: calc(100vh - 98px);
  object-position: top center;
}

/* SEARCH */

.aa-Form .aa-InputWrapperPrefix label svg {
  color: #000;
}
.aa-Form:focus-within {
  border-color: #9d8e73 !important;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  transition: 0.1s ease-in-out;
}
.aa-Panel {
  z-index: 200 !important;
}
